.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-sides {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
    color:#007f4f;
    position: absolute;
    padding: 10px;
    cursor: pointer;
}

.left-addon .glyphicon {
    left: 0;
}
.right-addon .glyphicon {
    right: 0;
}

.left-addon input {
    padding-left:  30px;
}
.right-addon input {
    padding-right: 30px;
}

.panel-title {
    padding-left: 0 !important;
}

tr td.dataTables_empty {
    text-align: center !important;
}

div .img-fluid {
    max-width: 100%;
    height: auto;
}

.img-container {
    margin-top: 5px;
    margin-bottom: 15px;
}

/********* BTN BLUE-PRIMARY *****************/

.btn-primary-blue {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary-blue:focus,
.btn-primary-blue.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary-blue:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary-blue:active,
.btn-primary-blue.active,
.open > .dropdown-toggle.btn-primary-blue {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary-blue:active:hover,
.btn-primary-blue.active:hover,
.open > .dropdown-toggle.btn-primary-blue:hover,
.btn-primary-blue:active:focus,
.btn-primary-blue.active:focus,
.open > .dropdown-toggle.btn-primary-blue:focus,
.btn-primary-blue:active.focus,
.btn-primary-blue.active.focus,
.open > .dropdown-toggle.btn-primary-blue.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-primary-blue:active,
.btn-primary-blue.active,
.open > .dropdown-toggle.btn-primary-blue {
  background-image: none;
}
.btn-primary-blue.disabled:hover,
.btn-primary-blue[disabled]:hover,
fieldset[disabled] .btn-primary-blue:hover,
.btn-primary-blue.disabled:focus,
.btn-primary-blue[disabled]:focus,
fieldset[disabled] .btn-primary-blue:focus,
.btn-primary-blue.disabled.focus,
.btn-primary-blue[disabled].focus,
fieldset[disabled] .btn-primary-blue.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary-blue .badge {
  color: #337ab7;
  background-color: #fff;
}